{
  "parser": "vue-eslint-parser",
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "airbnb-base",
    "plugin:vue/recommended"
  ],
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["@Components", "./src/components"],
          ["@Helpers", "./src/js/_helpers"],
          ["@Pages", "./src/components/pages"],
          ["@Styles", "./src/styles"]
        ],
        "extensions": [".js", ".json", ".css"]
      }
    }
  },
  "ignorePatterns": ["__test__/", "/**/*.stories.js"],
  "globals": {
    "API_BASE_URL": true,
    "MY_SESSION_STORAGE_KEY": true
  },
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "no-new": "off",
    "no-console": "error",
    "no-control-regex": "off",
    "max-len": ["error", {
      "code": 90,
      "ignoreComments": true,
      "ignoreTrailingComments": true,
      "ignoreTemplateLiterals": true,
      "ignoreUrls": true
    }],
    "no-irregular-whitespace": [
      "error",
      {
        "skipTemplates": true,
        "skipStrings": true
      }
    ],
    "no-param-reassign": [
      "error",
      {
        "props": true,
        "ignorePropertyModificationsFor": ["state"]
      }
    ],
    "import/no-named-as-default": "off",
    "import/no-extraneous-dependencies": "off",
    "vue/singleline-html-element-content-newline": "off",
    "vue/max-attributes-per-line": [
      "error",
      {
        "singleline": 3,
        "multiline": {
          "max": 1
        }
      }
    ],
    "vue/custom-event-name-casing": ["error", "kebab-case"],
    "vue/multi-word-component-names": "off"
  }
}