@mixin hoverOpacity {
  transition: opacity .5s;
  &:hover {
    opacity: .7;
  }
}
@mixin hoverUnderline {
  &:hover {
    text-decoration: underline;
  }
}

@mixin mobile {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin tab {
  @media screen and (min-width: 501px) and (max-width: 768px) {
    @content;
  }
}

@mixin pc {
  @media screen and (min-width: 769px) {
    @content;
  }
}


/* Based on http://codepen.io/javasteve99/pen/hDxpn */
@mixin font-face($font-family, $file-path, $font-weight) {
  @font-face {
    font-family: '#{$font-family}';
    src: url('#{$file-path}.eot');
    src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'), url('#{$file-path}.woff') format('woff'), url('#{$file-path}.ttf') format('truetype'), url('#{$file-path}.svg##{$font-family}') format('svg');
    font-weight: $font-weight;
    font-style: normal;
  }

  /* Chrome for Windows rendering fix: http://www.adtrak.co.uk/blog/font-face-chrome-rendering/ */
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
      font-family: '#{$font-family}';
      src: url('#{$file-path}.svg##{$font-family}') format('svg');
    }
  }
}
